{% extends 'base.html' %}
{% block content %}
<h1>Log In </h1>
{% for msg in get_flashed_messages() %}
  <p>{{ msg }}</p>
  {% endfor %}

  <form id="login-user-form" method="POST" action="/login">
    {{ form.hidden_tag() }}
    {% for field in form
      if field.widget.input_type != 'hidden' %}
    <p>
    {{ field.label }}
    {{ field }}

    {% for error in field.errors %}
      {{ error }}

    {% endfor %}
    </p>
  {% endfor %}
  <input type="submit" value="Log In">
  </form>
{% endblock %}